
#helpCards img{
  height: 100%;
  width: 100%;
}

#footer {
  background-color: rgb(248,249,250);
  margin-top: 10rem;
}

#newCharacters img {
  height: 100%;
  width: 100%;
  border-color: 10px solid #282c34;
  border-radius: 5%;
  padding-bottom: 1rem;
}

#newCharacters img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

#actionPanel img {
  width: 100%;
  height: 100%;
}

#heroPanel img {
  border-radius: 25%;
  height: 25vw;
}

#monsterPanel img {
  border-radius: 25%;
  max-height: 25vw;
}

.heroImg {
  border-radius: 50% !important;
  max-height: 15vw !important
}

.dead img{
  filter: grayscale(100%);
}

.icon {
  cursor: pointer;
  min-height: 50px;
  min-width: 50px;
}

#finalVictory img{
  height: 80vh;
  width: 80vw;
}

#characterIcons img{
  height: 10vh;
  margin: 2rem 0rem;
}

#reviveIcon .text {
  position: relative;
  display: none;
  bottom: 30px
}

#reviveIcon:hover .text {
  display: inline;
}

#shop img{
  max-width: 20vh;
  max-height: 20vh;
  padding: 1rem
}

.owned {
  border: 5px solid green;
  border-radius: 20%;
  margin: 5px
}

* {
  font-family: 'ZCOOL KuaiLe', cursive;
}

.help{
  font-family: 'Lora', serif !important
}

.launchcode {
  height: 15vh;
  padding-left: 3rem;
}

.helpCat {
  background-color: #344A61;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ditto {
  height: 30vh;
  width: 20vw;
}

#ditto:hover {
  transform: scale(1.4);
  transform: rotate(0.05turn)
}
